<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
  
        <div class="card shadow p-4">
  
          <h3 class="text-center mb-3">
            {{ isLogin ? 'Login' : 'Register' }}
          </h3>
  
          <!-- LOGIN FORM -->
          <form *ngIf="isLogin" (ngSubmit)="login()">
  
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="loginData.email"
                name="loginUsername"
                required
              />
            </div>
  <!-- PASSWORD -->
<div class="mb-3">
  <label class="form-label">Password</label>

  <div class="input-group">
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="form-control"
      [(ngModel)]="loginData.password"
      name="loginPassword"
      required
    />

    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="togglePassword()">
      <i class="bi"
         [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'">
      </i>
    </button>
  </div>
</div>

  
            <button class="btn btn-primary w-100">Login</button>

          </form>
  
       
  
        </div>
      </div>
    </div>
  </div>
  
